<div class="container">
  @if(showLoginButton()) {
    <button class="logout-btn" (click)="onLoginClicked()">Login</button>
  } @else {
    <button class="logout-btn" (click)="onLogout()">Logout</button>
    
  }
  <button class="create-blog-btn" (click)="onCreateBlog()">Create Blog</button>
  <h1>Your Blogs</h1>
  @if (showMessage()) {
  <h3>Please sign in to create a blog!</h3>
  }
  <app-blog [userBlogs]="userBlogs()" [showBlogLoginMessage]="showBlogsLoginMessage()"/>
</div>
<div class="container">
  <h1> Explore </h1>
  <app-blog [userBlogs]="otherBlogs()"/>
</div>