<form class="signup-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2 class="form-title">Sign In</h2>

  <div class="form-group">
    <div class="form-field">
      <label for="email">Email</label>
      <input id="email" type="email" placeholder="123@example.com" class="input" [formControl]="form.controls.email" />
    </div>

    <div class="form-field password-field">
      <label for="password">Password</label>
      <div class="password-input-wrapper">
        <input
          id="password"
          [type]="passwordVisibility() ? 'text' : 'password'"
          placeholder="...."
          class="input"
          [formControl]="form.controls.password"
        />
        <button type="button" class="eye-toggle" (click)="togglePasswordVisibility()">
          {{ passwordVisibility() ? '🙈' : '👁️' }}
        </button>
      </div>
    </div>

    <button type="submit" class="submit-btn">Login</button>
  </div>

  <a class="text-btn" [routerLink]="['/signup']">Create an account</a>

  <!-- Error Message Display -->
  @if (errorMessage) {
    <p class="error-message">{{ errorMessage }}</p>
  }

  <!-- Success Message Display -->
  @if (successMessage) {
    <p class="success-message">{{ successMessage }}</p>
  }

  @if (!isMailValid) {
      <p class="error-message">Please enter a valid Email</p>
  }

  @if (!isPasswordValid) {
      <p class="error-message">Please enter a valid Password</p>
  }
</form>
